{% extends "_base.html" %}

{% block header_title %}
<p class="title">Equations</p>
{% endblock %}

{% block content %}

{% print(equations) %}

<!-- TODAY -->
<div class="todays-content">
  <h2>Today's Equations</h2>

  <div class="content-list">
    {% for i in range(todays_equations|length) %}
    <details class="ct-card">
      <summary class="ct-summary">
        <div class="ct-main">
          <p class="ct-text">$$ {{ todays_equations[i].equation }} $$</p>
          <p class="ct-meta">
            Level: {{ todays_equations[i].level }} ·
            Type: {{ todays_equations[i].type }} ·
          </p>
        </div>
        <span class="arrow"></span>
      </summary>

      <div class="ct-details">
        <p><strong>Steps:</strong></p>
        {% for j in todays_steps[i] %}
            <p>$$ {{ j }} $$</p>
        {% endfor %}

      </div>
    </details>
    {% else %}
      <p class="no-ct {{ active }}">No equations generated today.</p>
    {% endfor %}
  </div>
</div>

<!-- HISTORY -->
<div class="history-content">
  <h2>History</h2>

  <div class="content-list">
    {% for i in range(history_equations|length) %}
    <details class="ct-card">
      <summary class="ct-summary">
        <div class="ct-main">
          <p class="ct-text">$$ {{ history_equations[i].equation }} $$</p>
          <p class="ct-meta">
            Level: {{ history_equations[i].level }} ·
            Type: {{ history_equations[i].type }} ·
          </p>
        </div>
        <span class="arrow"></span>
      </summary>

      <div class="ct-details">
        <p><strong>Steps:</strong></p>
          {% for j in history_steps[i] %}
            <p>$$ {{ j }} $$</p>
          {% endfor %}


      </div>
    </details>
    {% else %}
      <p class="no-ct {{ active }}">No previous equations.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
