{% extends "_base.html" %} 

{% block header_title %}
<p class="title">Functions</p>
{% endblock %}

{% block content %}
<div class="function-details-container">

    <!-- INFO CARD -->
    <div class="fd-card fd-info">
      <h2>Function Details</h2>
  
      <div class="fd-row">
        <span class="fd-label">Formula</span>
        <div class="fd-math">$$ {{ func.get_latex_formula() }} $$</div>
      </div>
  
      <div class="fd-row">
        <span class="fd-label">Type:</span>
        <span class="fd-value">{{ func.get_type() }}</span>
      </div>
  
      <div class="fd-row">
        <span class="fd-label">Parameters:</span>
        {% for key in func.get_parameters() %}
          <span class="fd-value">{{ key }}: {{ func.get_parameters()[key] }}</span>
        {% endfor %}
      </div>
    </div>
  
    <!-- ORIGINAL GRAPH -->
    <div class="fd-card">
      <h3>Original Function</h3>
      <div id="graph2" class="fd-graph"></div>
    </div>
  
    <!-- INVERSE GRAPH -->
    <div class="fd-card">
      <h3>Inverse Function</h3>
      <div id="graph1" class="fd-graph"></div>
    </div>

</div>

<script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>

<script>
    // data from Flask
    var x_orig = {{ x_original | safe }};
    var y_orig = {{ y_original | safe }};
    var x_inv  = {{ x_inverse | safe }};
    var y_inv  = {{ y_inverse | safe }};

    /* -------- GRAPH 1 -------- */

    var trace1 = {
        x: x_inv,
        y: y_inv,
        type: 'scatter',
        name: 'Inverse function'
    };

    var layout1 = {
        title: 'Inverse Function',
        xaxis: { title: 'x' },
        yaxis: { title: 'y' }
    };

    Plotly.newPlot('graph1', [trace1], layout1);


    /* -------- GRAPH 2 -------- */
    var trace2 = {
        x: x_orig,
        y: y_orig,
        type: 'scatter',
        name: 'Original function'
    };

    var layout2 = {
        title: 'Original Function',
        xaxis: { title: 'x' },
        yaxis: { title: 'y' }
    };

    Plotly.newPlot('graph2', [trace2], layout2);
</script>
{% endblock %}
